polkit.addRule(function(action, subject) {
    if (subject.user == "greetd" &&
        /^org\.freedesktop\.login1\.(power-off|reboot|suspend|hibernate)(-multiple-sessions|-ignore-inhibit)?$/.test(action.id)) {
        return polkit.Result.YES;
    }
});
