[Desktop Entry]
Name=fht-compositor
Comment=A dynamic tiling Wayland compositor, built on Smithay
Exec=/usr/bin/kira-start-fht
Type=Application
DesktopNames=fht-compositor
